body{
    margin: 0px;
    padding: 0px;
    background-color: #004566fa
}

.content{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.box {
    width: 30%;
    margin: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;

    border-top: 8px solid #040048;
    background: #fff;
}

#logo img{
    padding: 20px;
    width: 100px;
}
