body{
    margin: 0px;
    padding: 0px;
    background-color: #004566fa
}

.content{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.box {
    width: 30%;
    margin: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;

    border-top: 8px solid #040048;
    background: #fff;
}

#logo img{
    padding: 20px;
    width: 100px;
}

input {
    outline: unset;
    border: unset;
    box-shadow: unset;
    border: 1px solid #222;
    width: 230px;
    height: 30px;
    background-color: rgb(255, 255, 255);
    
}

.error{
    background-color: rgb(255, 109, 109);
    width: 230px;
    height: 30px;
    border: 3px solid rgb(255, 109, 109);
    margin: 5px;
}
